.first__navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 62px;
    background-color: #fff;
    border-bottom: 5px solid #71D8FF;
}

.first__navBar .container__navBar {
    display: flex;
    gap: 59px;
}

.container__navBar .navBar__logo .logo01 {
    width: 110px;
    height: 21px;
}

.container__navBar .navBar__logo .logo02 {
    display: none;
    width: 110px;
    height: 21px;
}

.first__navBar .container__navBar ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

.first__navBar .container__navBar ul li {
    list-style: none;
}

.first__navBar .container__navBar ul li a {
    font-size: 14px;
    color: #2C3A2F;
    text-decoration: none;
    transition: 0.5s ease;
}

.first__navBar .container__navBar ul li a:hover {
    font-size: 16px;
    color: #00aeef;
}

.container__icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icons__search {
    display: flex;
    gap: 15px;
}

.icons__search p {
    font-size: 12px;
    color: #000;
}

.icons  {
    display: flex;
    gap: 30px;
    width: 32px;
    color: #47c5f3;
}



@media (max-width:800px) {
    .header__navBarWeb {
        display: none;
    }

    .container__icons {
        margin-left: 46%;
    }

    .hamburguer {
        display: none;
        cursor: pointer;
        z-index: 1;
   }

   .first__navBar .container__navBar .navBar__menu {
    display: none;
   }
   
   .hamburguer .bar {
         display: block;
         color: #000;
         width: 28px;
         height: 3px;
         border-radius: 2px;
         margin: 5px auto;
         background-color: #000;
         transition: all 0.3s ease-in-out;
   }
    .container__icons .icons__search {
        display: none;
    }

    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navBar__responsive {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        background-color: #283137;
        padding: 25px 25px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
    }

    .navBar__responsive img {
        width: 171px;
    }

    .navBar__responsive li {
        list-style: none;
    }

    .navBar__responsive li a {
        text-decoration: none;
    }

    .navBar__responsive .first__part {
        padding: 40px 0px 15px;
    }

    .navBar__responsive .first__part li {
        margin-bottom: 15px;
        margin-top: 0;
    }

    .navBar__responsive .first__part a {
        color: #F8FCFE;
    }
    
    .navBar__responsive .second__part {
        padding: 30px 0px 300px;
    }

    
    .navBar__responsive .second__part li {
        margin-bottom: 15px;
        margin-top: 0;
    }

    .navBar__responsive .second__part a {
        color: #5EB7F2;
    }

    .navBar__responsive .second__part i {
        margin-left: 10px;
    }

    .navBar__responsive .second__part .popUp__mobile {
        display: none;
        background-color: #000;
        color: #707070;
        width: 286px;
        height: 200px;
        border-radius: 5px;
    }

    .navBar__responsive .second__part .popUp__mobile ul {
        padding: 32px 28px 152px 30px;
    }




    .navBar__responsive.active {
        left: 0;
    }
}