footer {
    width: 100%;
    height: 470px;
    margin-top: 110px;
    background-color: #283137;
    border-top: 5px solid #0089BC;
}

footer hr {
    color: #E1E1E1;
    margin-bottom: 20px;
}

.footer__information {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 134px;
}

.footer__information img {
    margin-left: 30px;
}

.container__footerInformation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.container__footerInformation .information__nerdWeb {
    width: 150px;
    height: 150px;
    margin-left: 261px;
    margin-top: 27px;
}

.container__footerInformation .information__nerdWeb h1 {
    font-size: 18px;
    font-weight: 600;
    color: #E2F7FF;
    margin-bottom: 20px;
}

.footer__information .information__nerdWeb p a{
    text-decoration: none;
    font-size: 14px;
    color: #00AEEF;
    margin-bottom: 10px;
}

.container__footerInformation .information__help {
    width: 159px;
    height: 121px;
    margin-left: 77px;
}

.container__footerInformation .information__help h1 {
    font-size: 18px;
    font-weight: 600;
    color: #E2F7FF;
    margin-bottom: 20px;
}

.footer__information .information__help p a{
    text-decoration: none;
    font-size: 14px;
    color: #00AEEF;
    margin-bottom: 10px;
}

.container__footerInformation .information__service {
    width: 159px;
    height: 121px;
    margin-left: 77px;
}

.container__footerInformation .information__service h1 {
    font-size: 18px;
    font-weight: 600;
    color: #E2F7FF;
    margin-bottom: 20px;
}

.footer__information .information__service p a{
    text-decoration: none;
    font-size: 14px;
    color: #00AEEF;
    margin-bottom: 10px;
}

.container__footerInformation .information__time {
    width: 159px;
    height: 121px;
    margin-left: 77px;
}

.container__footerInformation .information__time h1 {
    font-size: 18px;
    font-weight: 600;
    color: #E2F7FF;
    margin-bottom: 20px;
}

.footer__information .information__time p {
    width: 163px;
    height: 57px;
    font-size: 14px;
    color: #B2EAFF;
    margin-bottom: 10px;
}

.footer__socialMedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1320px;
    margin-bottom: 46px;
    margin-left: 30px;
}

.footer__socialMedia .footer__rights {
    font-size: 14px;
    color: #E1E1E1;
}

.footer__socialMedia .socialMedia {
    width: 312px;
    height: 71px;
    color: #71D8FF;
}

.socialMedia .socialMedia__title {
    font-size: 20px;
    font-weight: 500;   
}

.socialMedia .socialMedia__icons {
    width: 262px;
    height: 30px;
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.socialMedia .socialMedia__icons i {
    font-size: 30px;
}