.products {
    width: 100%;
    height: 100vh;
}

.products h1 {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #033244;
}

.products h1 span {
    color: #00AEEF;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    width: 100%;
    height: 179px;
    background-color: #F3F3F3;
}

.slide .slide__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 122px;
    height: 132px;
    background-color: #e8e8e8;
}

.slide .slide__content img {
    width: 110px;
    height: 81px;
    margin-bottom: 14px;
}

.slide .slide__content p {
    text-align: center;
    font-size: 14px;
    color: #676767;
}

.products .button {
    display: flex;
    justify-content: center;
    width: 100%;
}
.products .button .products__button {
    width: 233px;
    height: 37px;
    border: none;
    background-color: #71D8FF;
    color: #033244;
    font-size: 14px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 80px;
}

.products .register__banner {
    background: url("../img/bg\ time.png");
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-size: 100% 100%;
    width: 100%;
    height: 402px;
}

.products .register__content {
    width: 646px;
    height: 248px;
    margin-left: 200px;
}

.products .register__content h2 {
    width: 611px;
    height: 43px;
    font-size: 32px;
    font-weight: 600;
    color: #033244;
    margin-bottom: 24px;
}

.products .register__content p {
    width: 533px;
    height: 72px;
    font-size: 18px;
    color: #005271;
    margin-bottom: 80px;
}

.products .register__content button {
    width: 169px;
    height: 39px;
    font-size: 14px;
    border: none;
    color: #033244;
    background-color: #71D8FF;

}