.second__navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 72px;
    background-color: #033244;
    color: #fff;
}

.second__navBar ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
}

.second__navBar ul li {
    list-style: none;
}

.second__navBar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.second__navBar ul li i {
    margin-left: 8px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 238px;
    height: 40px;
    border: 1px solid #00AEEF;
    border-radius: 8px;
}

.search input {
    font-size: 14px;
    color: #B2EAFF;
    background-color: transparent;
    border: none;
}