.conteiner__services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 280px;
}

.conteiner__services h1 {
    font-size: 32px;
    font-weight: 600;
    color: #2C3A2F;
    margin-bottom: 15px;
}

.conteiner__services h2 {
    font-size: 20px;
    font-weight: 500;
    color: #0089BC;
    margin-bottom: 40px;
}

.conteiner__services .services__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.services__content .service__choice {
    width: 424px;
    height: 490px;
    background-color: #283137;
}

.service__choice .choice__background {
    display: flex;
    width: 424px;
    height: 213px;
}

.service__choice .choice__background .choice__info {
    margin-top: 10px;
    padding: 0px 24px;
}

.service__choice .choice__background .choice__info h3 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 16px;
}

.service__choice .choice__background .choice__info p {
    font-size: 16px;
    font-weight: 500;
    color: #E2F7FF;
    margin-bottom: 40px;
    opacity: 1;
}

.service__choice .choice__background .choice__info p a {
    font-size: 14px;
    font-weight: 600;
    color: #00AEEF;
    text-decoration: none;
}

.services__banner {
    background: url("../img/BG\ CONHEÇA.png");
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-size: 100% 100%;
    width: 100%;
    height: 402px;
}

.servicesBanner__content {
    width: 100%;
    margin-left: 147px;
}

.servicesBanner__content h4 {
    width: 551px;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}

.servicesBanner__content p {
    width: 607px;
    font-size: 20px;
    font-weight: 500;
    color: #71D8FF;
    margin-bottom: 30px;
}

.servicesBanner__content button {
    width: 176px;
    height: 39px;
    font-size: 14px;
    border: none;
    color: #fff;
    background-color: #0089BC;
}